#hero {
  height: calc(100vh - 77.6px);

  .swiper-slide {
    padding: 0 15px;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .hero__slider {
    color: #fff;
  }

  .swiper-pagination-bullet-active {
    background-color: rgb(34, 179, 193);
  }

  .swiper-pagination {
    bottom: 50px;
  }
}
