.nav {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: #22b3c1;
  color: #fff;
  padding: 15px 0;
  z-index: 7;
  transition: position 0.3s ease;

  &.activeNav {
    position: fixed;
  }

  .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  .nav__logo {
    img {
      width: 160px;
    }
  }

  .open-menu,
  .close-menu {
    font-size: 25px;
    cursor: pointer;
    display: none;
  }

  .nav__menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .nav__lists,
    .nav__lang-socialmedia,
    .nav__socialmedia {
      display: flex;
      align-items: center;

      a {
        transition: color 0.3s ease;
      }
    }

    .nav__lists {
      gap: 20px;
    }

    .nav__lang {
      border: none;
      outline: none;
      padding: 5px 10px;
      border-radius: 6px;
      background-color: #22b3c1;
      color: #fff;
      border: 1px solid #fff;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: #fff;
        color: #22b3c1;
      }
    }

    .nav__lists a:hover {
      color: gainsboro;
    }

    .nav__lists li.active {
      a {
        position: relative;

        &::before {
          position: absolute;
          content: "";
          top: -3px;
          width: 50%;
          height: 1.5px;
          background-color: #fff;
          transition: background-color 0.3s ease;
        }
      }

      &:hover a::before {
        background-color: gainsboro !important;
      }
    }

    .nav__lists-item {
      padding: 8px 0;
      font-size: 15px;
      letter-spacing: 0.5px;
    }

    .nav__lang-socialmedia,
    .nav__socialmedia {
      gap: 20px;

      a {
        font-size: 15px;
      }
    }

    .nav__lang a:hover {
      color: #000;
    }
  }
}

@media screen and (max-width: 800px) {
  .nav {
    .open-menu,
    .close-menu {
      display: block;
    }

    .nav__menu {
      position: absolute;
      width: 60%;
      height: 100vh;
      top: 0;
      right: 0;
      background-image: url("../../assets/images/parachute.jpg");
      background-color: rgba(0, 0, 0, 0.4);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
      background-blend-mode: multiply;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      transition: transform 0.3s ease;
      transform: translateX(100%);
      z-index: 11;

      &.active {
        transform: translateX(0%);
      }

      .close-menu {
        position: absolute;
        top: 25px;
        right: 20px;
      }

      .nav__lang {
        background-color: transparent;
      }

      .nav__lists,
      .nav__lang-socialmedia,
      .nav__socialmedia {
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .nav .nav__menu {
    width: 80%;
  }
}
